#cart {
  .option {
    background: #ffcec9;
    border-radius: 5px;
    padding: 3px 5px 0px 5px;
  }

  .product {
    background: #fcf6f58c;
    border-radius: 10px;
  }

  .card-item .card-item__side {
    box-shadow: none;
  }
}