#userdata {
  .clickBorder {
    border-right: 1px rgb(218, 218, 218) solid;
    width: 1px;
    height: 44px;
  }

  .hovercol:hover {
    background: #f7e7ef;
    border-radius: 10px;
  }

  .user {
    border-radius: 10px;
  }
}